@charset "UTF-8";
* {
  font-family: "微軟正黑體";
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#index_banner {
  width: 100%;
  height: 100%;
  background-color: #343434;
  color: white;
}

#index_banner #top_nav {
  width: 100%;
  height: 50px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

#index_banner #top_nav a {
  text-decoration: none;
}

#index_banner #top_nav .container-fluid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px white solid;
}

#index_banner #top_nav .container-fluid #nav_logo {
  height: 100%;
  background-image: url("./image/logo123.png");
  background-size: cover;
  background-position: center;
}

#index_banner #top_nav .container-fluid #buycar_img {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#index_banner #top_nav .container-fluid #nav_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index_banner #top_nav .container-fluid #live {
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index_banner #top_nav .container-fluid #live .ml2 {
  font-weight: 900;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index_banner #top_nav .container-fluid #live .ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

#index_banner #bottom_nav {
  width: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 98;
}

#index_banner #bottom_nav .border-top {
  width: 80%;
  border-top-style: solid;
  border-top-width: thick;
  border-top-color: ghostwhite;
}

#index_banner #bottom_nav .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#index_banner #bottom_nav a {
  text-decoration: none;
}

#sectionmaue {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

#sectionmaue #leftmaue {
  width: 60%;
  background-image: url("https://img.notorious-2019.com/743ca70d7669a92766433576.jpg");
  background-size: cover;
  background-position: top;
}

#sectionmaue #rightmaue {
  width: 40%;
  background-color: #9b9b9b;
  overflow: hidden;
}

#sectionmaue #rightmaue .mauebox {
  width: 50%;
  height: 300px;
  background-color: white;
}

#sectionmaue #rightmaue .textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

#sectionmaue #rightmaue .textbox .bottomline {
  width: 25px;
  height: 3px;
  background-color: #b4b3b3;
  display: block;
}

#sectionmaue #rightmaue .textbox .title {
  font-size: 1.625rem;
  font-weight: bold;
}

#sectionmaue #rightmaue .flow {
  overflow: hidden;
}

#sectionmaue #rightmaue .photobox {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#sectionmaue #rightmaue .photobox:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#sectionmaue #rightmaue .textbox:hover ~ .flow .photobox {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#sectionmaue #rightmaue #top_maue {
  width: 100%;
  background-color: rosybrown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sectionmaue #middle_maue {
  width: 100%;
  background-color: royalblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sectionmaue #bottom_maue {
  width: 100%;
  background-color: sandybrown;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sectioncard {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #343434;
  overflow: hidden;
}

#sectioncard .leftbox {
  width: 60%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectioncard .leftbox .card {
  height: 80%;
}

#sectioncard .leftbox .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectioncard .rightbox {
  width: 40%;
  height: 500px;
  color: white;
  background-image: url("https://static.wixstatic.com/media/8c25ee_55209cb732b24cfa893547e9991e66aa~mv2.png/v1/fill/w_1000,h_434,al_c,usm_0.66_1.00_0.01/8c25ee_55209cb732b24cfa893547e9991e66aa~mv2.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #9b9b9b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 20px;
  padding-bottom: 20px;
}

#sectioncard .rightbox .photoicon {
  width: 25%;
  height: 5%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sectioncard .rightbox .photoicon .icon {
  width: 25px;
  height: 25px;
  background-image: url("./image/二頭肌123.png");
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

#sectioncard .rightbox .boxtitle {
  font-size: 32px;
}

#sectioncard .rightbox .boxtext {
  font-size: 20px;
}

#bigcard_section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

#bigcard_section #bigcard_title {
  width: 100%;
  height: 20vh;
  font-size: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bigcard_section .black_decoration {
  width: 10%;
  height: 150px;
  background-color: black;
  margin-top: 100px;
}

#bigcard_section #bigcard {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 200px;
}

#bigcard_section #bigcard .card {
  width: 30%;
}

#bigcard_section #bigcard .card .card-img-top {
  height: 50%;
}

#bigcard_section #bigcard .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#bigcard_section #bigcard .card .card-body .bottom_text {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bigcard_section #bigcard .card .card-body .bottom_text .card_date {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bigcard_section #bigcard .card .card-body .bottom_text .btn {
  width: 30%;
  border-radius: 50px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-color: black;
  border-width: 3px;
}

#bigcard_section #bigcard .card .card-body .bottom_text .btn:hover {
  background-color: #3390ff;
  color: white;
}

#paralax_photo {
  width: 100%;
  background-image: url("https://img.notorious-2019.com/68b91baf99061d49904f3e99.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

#paralax_photo .smoke {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index_aboutus {
  width: 100%;
}

#index_aboutus #about_title {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index_aboutus #about_title #us_title {
  font-size: 63px;
}

#index_aboutus #about_title #sub_title {
  font-size: 25px;
}

#index_aboutus #top_aboutus {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 50px;
}

#index_aboutus #top_aboutus #top_photo {
  width: 100%;
  height: 40vh;
  background-image: url("https://img.notorious-2019.com/ad033fb07147d737144bcc71.jpg");
  background-size: cover;
  background-position: center;
}

#index_aboutus #top_aboutus .top_title #aboutus_title1 {
  font-size: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#index_aboutus #top_aboutus .top_title #aboutus_subtitle {
  font-size: 18px;
}

#index_aboutus #top_aboutus .top_title #read_more {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index_aboutus #top_aboutus .top_title #read_more #plus {
  width: 20px;
  height: 20px;
  background-image: url("./image/plus.png");
  background-size: cover;
  background-position: center;
}

#index_aboutus #bottom_aboutus {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

#index_aboutus #bottom_aboutus #bottom_photo {
  width: 100%;
  height: 40vh;
  background-image: url("../image/aboutus.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#index_aboutus #bottom_aboutus .bottom_title #aboutus_title2 {
  font-size: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index_aboutus #bottom_aboutus .bottom_title #aboutus_subtitle2 {
  font-size: 18px;
}

#index_aboutus #bottom_aboutus .bottom_title #read_more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#index_aboutus #bottom_aboutus .bottom_title #read_more #plus {
  width: 20px;
  height: 20px;
  background-image: url("./image/plus.png");
  background-size: cover;
  background-position: center;
}

#all_footer {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 50px;
}

#all_footer #top_footer {
  width: 50%;
  height: 50px;
  background-color: #292929;
  position: absolute;
  top: -10%;
  left: 0;
}

#all_footer #left_footer {
  width: 50%;
  height: 400px;
  background-color: #292929;
  position: relative;
}

#all_footer #left_footer #leftfooter_content {
  width: 80%;
  height: 150px;
  position: absolute;
  right: -10%;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #9b9b9b;
}

#all_footer #left_footer #leftfooter_content #footer_logo {
  width: 50%;
  height: 100px;
  background-image: url("./image/logo123.png");
  background-size: cover;
  background-position: center;
}

#all_footer #left_footer #leftfooter_content a {
  text-decoration: none;
  width: 50px;
}

#all_footer #right_footer {
  width: 50%;
  height: 400px;
  background-color: #1f1f1f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#all_footer #right_footer #right_footer a {
  -webkit-transform: 2s;
          transform: 2s;
}

#all_footer #right_footer #gototop {
  width: 10%;
  height: 100px;
  color: #9b9b9b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: absolute;
  left: 45%;
  top: 50%;
}

#all_footer #right_footer #gototop #gototop_photo {
  width: 50%;
  height: 50%;
  background-image: url("../image/箭頭.png");
  background-size: cover;
  background-position: center;
}

#all_footer #right_footer #rightfooter_content {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #9b9b9b;
  padding-right: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#all_footer #right_footer #rightfooter_content #row_height {
  width: 250px;
  height: 200px;
}

#all_footer #right_footer #rightfooter_content #usphoto {
  width: 200px;
}

#all_footer #right_footer #rightfooter_content .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #7a7a7a;
  margin-left: 0.9vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

#all_footer #right_footer #rightfooter_content .image {
  background-image: url("../image/instagram.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#all_footer #right_footer #rightfooter_content .image1 {
  background-image: url("../image/facebook-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#all_footer #right_footer #rightfooter_content .image2 {
  background-image: url("../image/youtube.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #index_banner #bottom_nav {
    width: 100% !important;
  }
  #rightfooter_content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 960px) {
  #rightfooter_content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 768px) {
  #row_height {
    height: 100% !important;
  }
}

.video-index video {
  width: 100%;
}

.text-hover {
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
}

.text-hover:hover {
  background-color: gray;
}
/*# sourceMappingURL=index sass.css.map */