
body {

  margin: 0;
}

*{
    box-sizing: border-box;
}

.button-member {
  display: inline-block;
  text-decoration: none;
  color: white;

  }

  .portfolio{
    list-style: none;
    a{
      text-decoration: none;
      &:hover{
        color: #cccccc;

      }
    }
  }

 





.button-registered {
    display: inline-block;
    text-decoration: none;
  }

  .button-forgotpsw {
    display: inline-block;
    text-decoration: none;
   

  }

.portfolio-lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0,0); 
 transition: transform 150ms ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  background: rgba(0, 0, 0, .5);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .25);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.portfolio-lightbox:target {
  transform: scale(1,1);
}

.portfolio-lightbox__content {
  
  background: white;
  border: 1px solid rgb(0, 0, 0);
  position: relative;
  border-radius: 10px;
}

.portfolio__title{
    text-align: center;
    padding: 10px 0;
    color: black;
}


.close {
  position: absolute;
  right: 1%;
  top: 1%;
  border: white 2px solid;
  display: flex;
  width: 40px;
  height: 40px;
  background: gray;
  border-radius: 50%;
  text-decoration: none;
  font-size: 40px;
}

.close::after {
    position: absolute;
    top: 2%;
    left: 30%;
    content: 'x';
    color: white;
 
}

.help-block{
    color: red;
}

